@mixin colorStyle($color) {
    color: $color;
  }
  


h1 {
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: center;
    top: 300px;
    position: relative;
    @include colorStyle(rgb(255, 255, 255));
}

h2 {
    @include colorStyle(rgb(255, 255, 255));
    display: flex;
    justify-content: center;
    top: 300px;
    position: relative;
}

section {
    height: 100vh;
    width: 100%;
    background-image: url('./../../../assets/img/bgr1.jpg');
    background-size: cover;
    background-position: center;
}