<section>
  <h1>OUR MENU</h1>

  <div>
    <img src="./../../../assets/img/r1.png" />

    <span>
      <h2>Tonkasu Ramen</h2>
      <tr>
        <td>CHICKEN</td>
        <td></td>
        <td>11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td></td>
        <td>12.95€</td>
      </tr>
      <tr>
        <td>SHRIMPS</td>
        <td></td>
        <td>13.95€</td>
      </tr>
     
    </span>
  </div>

  <div class="menu2">
    <img src="./../../../assets/img/r2.png" />

    <span>
      <h2>Spicy Miso Ramen</h2>
      <tr>
        <td>CHICKEN</td>
        <td></td>
        <td>11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td></td>
        <td>12.95€</td>
      </tr>
      <tr>
        <td>SHRIMPS</td>
        <td></td>
        <td>13.95€</td>
      </tr>
     
    </span>
  </div>

  <div class="menu3">
    <img src="./../../../assets/img/r3.png" />

    <span>
      <h2>Shio Ramen</h2>
      <tr>
        <td>CHICKEN</td>
        <td></td>
        <td>11.95€</td>
      </tr>
      <tr>
        <td>BEEF</td>
        <td></td>
        <td>12.95€</td>
      </tr>
      <tr>
        <td>SHRIMPS</td>
        <td></td>
        <td>13.95€</td>
      </tr>
     
    </span>
  </div>
</section>
