@mixin colorStyle($color) {
    color: $color;
  }
  
  
  @mixin dFlex($ai: center) {
    display: flex;
    justify-content: space-between;
    align-items: $ai;
  }


nav {
    @include dFlex();
    position: relative;
    top: 20px;
    > img {
        margin-left: 20px;
        margin-top: 20px;
    }

    > div {
        @include dFlex();
        > a{
           &:hover {
            color: red;
           }
        }
    }  
}

a {
    @include colorStyle(rgb(255, 255, 255));
    text-decoration: none;
    margin-right: 20px;
}

.tel-button {
    margin-right: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: #c15454;
    padding: 12px;
    > a {
        @include dFlex($ai: center);
        gap: 10px;

       &:hover {
        color: black;
       }
    }
    > img {
       &:hover {
        color: black;
       } 
    }
}